<div class="row">
  <div class="col-md-9">
    <h1 class="display-4"><span>Die Fettmessung kann beginnen!</span></h1>

    <style>
      /* Stil für den Button */
      .button-starten {
        padding: 15px 30px;
        font-size: 20px;
        background-color: #e9d3e2;
        text-shadow: aliceblue;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgba(226, 4, 4, 0.3);
        transition: transform 0.2s;
      }

      /* Animation, wenn der Mauszeiger darüber schwebt */
      .button-starten:hover {
        transform: scale(2.2);
      }
    </style>

    <div style="text-align: center; margin-top: 50px">
      <button class="button-starten" routerLink="/bodyfat">Fettmessung</button>
    </div>
  </div>
</div>
